.container{
    margin-top: 4rem;
}

.todoHeader{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--gray-400);
}

.todoHeader > div{
    display: flex;
    gap: 0.5rem;
}

.todoTasksCreated{
    font-size: 14px;
    font-weight: 700;
    color: var(--blue);
}

.todoFinishedTasks{
    font-size: 14px;
    font-weight: 700;
    color: var(--purple);
}

span{
    background-color: var(--gray-400);
    color: var(--gray-200);
    font-size: 12px;
    font-weight: 700;
    padding: 0.125rem 0.5rem;
    border-radius: 999px;
}

.listContainer{
    list-style: none;
}